__pycache__/
*.py[cod]

venv/
.venv/

.DS_Store

.env
.env.*

ML-PROJECT/cost_model_DAC.pkl
ML-PROJECT/cost_model_INDUSTRIAL.pkl

ML-PROJECT/efficiency_model_DAC.pkl

ML-PROJECT/efficiency_model_INDUSTRIAL.pkl

/Data-Recording

training_data_DAC.csv
training_data_INDUSTRIAL.csv